.navbar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 90px;
  background-color: #199ff9;
}
.navbar h1 {
  height: 80px;
    background-color: #199FF9;
    display: flex;
    flex-direction: row;
}
.navbar h2 {
  height: 80px;
    background-color: #199FF9;
    display: flex;
    flex-direction: row;
}
.voteimg{
    text-align: center;
    padding-top: 10px;
}
.rgsterimg{
    padding-left: 100px;
    float: right;
    margin-top: 10px;
}
.head{
  text-align: center;
}
.gen{
    position: relative;
    left: 60px;
    top: -30px;
}
.nav{
  margin: 8px 0px 0px 200px;
  padding: 30px;
}
.nav a{
  padding: 10px;
  margin: 17px 5px 0px 50px;
  background-color: #c4c4c4;
  color: white;
  border-radius: 15px;
  width: 40px;
  text-decoration: none;
  justify-content: space-between;
}


/* /* Full-width input fields * */
input[type=text], input[type=password] {
    width: 20%;
    padding: 15px;
    margin-left: 5px;
    margin-top: 20px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    background: #f1f1f1;
  }
  select{
    background-color: rgb(216, 216, 216);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 350px;
    border: 0px;
    padding-left: 100px;
    width: 330px;
    border-radius: 20px;
    margin-left: 5px;
    margin-top: 40px;
}   
option{
    background-color: rgb(216, 216, 216);
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
    width: 350px;
    padding-left: 50px;
    border-radius: 10px;
    margin-left: 20px;
} 
  /* Set a style for all buttons */
  .signupbtn {
    background-color: #1691e4;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding:10px 50px 10px 50px;
    position: relative;
    left: 80px;
    top: 60px;
    
  }


  .login{
    position: relative;
    top: 150px;
    left: 100px;
    border: 0px solid black;
    background-color: rgb(15, 127, 231);
    color: white;
    border-radius: 10px;
    text-decoration: none;
    padding:10px 50px 10px 50px;
}


  label{
      position: relative;
      left: 200px;
      top: 60px;
      left: -300px;
  }
  
  .total{
    margin-top: -60px;
  }
  .already{
    position: relative;
    top: 150px;
    left: 70px;
  }
  .finishing{
    position: relative;
    top: -90px;
  }

  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }